#!/bin/sh

# Generic startup file.
user www-data;

# usually equal to number of CPU's you have. run command "grep processor /proc/cpuinfo | wc -l" to find it
# 2 on our zippy-wheezy64 box
# worker_processes 2;
# worker_cpu_affinity 0101 1010;

error_log  /var/log/nginx/error.log;
pid        /var/run/nginx.pid;

# Keeps the logs free of messages about not being able to bind().
#daemon     off;

events {
    worker_connections  2048;
}

http {
#   rewrite_log on;

    include              mime.types;
    default_type         application/octet-stream;
    access_log           /var/log/nginx/access.log;
    sendfile             on;
    tcp_nopush           on;
    keepalive_timeout     5;
    types_hash_max_size 2048;
    server_names_hash_bucket_size 64;
    tcp_nodelay          on;
    gzip                 on;


    #php max upload limit cannot be larger than this
    client_max_body_size 128M;
    log_format  main     '$remote_addr - $remote_user [$time_local] "$request" '
                         '$status $body_bytes_sent "$http_referer" '
                         '"$http_user_agent" "$http_x_forwarded_for"';

    index index.php index.html index.htm;

    ## fastcgi_cache_path /var/www/nginx_cache levels=1:2 keys_zone=czone:10m max_size=50m inactive=120m;
    ## fastcgi_temp_path  /var/www/nginx_tmp;

    # Upstream to abstract backend connection(s) for PHP.
    upstream php {
        #this should match value of "listen" directive in php-fpm pool
        # server unix:/tmp/php-fpm.sock;
        server unix:/var/run/php5-fpm.sock;
        #server 127.0.0.1:9000;
    }

    include /etc/nginx/sites-enabled/*;
}