body {
	background: url('images/background.jpg') repeat #dfdcca;
	margin:0;
}
#center {
	width: 600px; 
	margin:  0 auto;
	padding-top: 160px;
}

.button {
	position: absolute;
	top:16px;
	right:20px;
	color: #666;
	text-shadow: none;
}

.button:hover {
	color: #000;
}

a {
	color:#dfdfdf;
	font-size: 16px;
	text-decoration: none;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}
a:hover {
	color:#fff;
}

p {
	font: 14px "Lucida Grande", Lucida, Verdana, sans-serif;
	color: #2f2f2f;
	text-align: center;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}