# server {
#    listen 80;
#    server_name custom.roadsideweb.dev;
#    root /var/www/custom.roadsideweb.dev/public_html;

#    # This order might seem weird - this is attempted to match last if rules below fail.
#    # http://wiki.nginx.org/HttpCoreModule
#    location / {
#     try_files $uri $uri/ /index.php?$args;
#    }
   
#    location ~ \.php$ {
#       try_files $uri =404;
#       fastcgi_split_path_info ^(.+\.php)(/.+)$;
#       # fastcgi_pass 127.0.0.1:9000;
#       # With php5-fpm:
#       fastcgi_pass unix:/var/run/php5-fpm.sock;
#       fastcgi_index index.php;
#       include fastcgi_params;
#    }
# }

# Redirect everything to the main site. We use a separate server statement and NOT an if statement - see http://wiki.nginx.org/IfIsEvil

server {
  server_name  _;
  rewrite ^ $scheme://custom.roadsideweb.dev$request_uri redirect;
}

server {
  server_name custom.roadsideweb.dev;
  root /var/www/custom.roadsideweb.dev/public_html/wordpress;

  include global/restrictions.conf;

  # Additional rules go here.

  # Only include one of the files below.
  include global/wordpress.conf;
  # include global/wordpress-ms-subdir.conf;
  # include global/wordpress-ms-subdomain.conf;
}